/* Main */
html {scroll-behavior: smooth;}
body{
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    margin: 0;
    background: rgb(225, 225, 225);
}
.background{
    z-index: -100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
button{cursor: pointer;}
section{
    position: relative;
    overflow: hidden;
}
section h2{text-align: center;}
.a{
    text-decoration: none;
    color: rgb(225, 225, 225);
    border-radius: 1rem;
    background: #2d844c;
    padding: 1rem;
    transition: all 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}
.a:hover{background: rgb(24, 24, 24);}
.TextShadowBlack{text-shadow: 1px 1px 1px black;}
.magint3{margin-top: -3rem;}
.vissible{visibility:visible;opacity: 100;}
.notvissible{visibility: hidden;opacity: 0;}
.LoadAnimation{
    opacity: 0;
    animation: slideInDown 0.5s ease-out forwards;
    -webkit-keyframes: slideInDown 0.5s ease-out forwards;
}
.zeroopacity{opacity: 0;}






/* Anmations */
@keyframes swing{
    0%{transform:rotate(0deg)}
    50%{transform:rotate(-6deg)}
    100%{transform:rotate(0deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(0deg)}
    50%{-webkit-transform:rotate(-6deg)}
    100%{-webkit-transform:rotate(0deg)}
}
@keyframes shakeX {
    0% { transform: translateX(0);}
    25% { transform: translateX(8px);}
    50% { transform: translateX(-8px);}
    75% { transform: translateX(8px);}
    100% { transform: translateX(0);}
}
@-webkit-keyframes shakeX {
    0% { transform: translateX(0);}
    25% { transform: translateX(8px);}
    50% { transform: translateX(-8px);}
    75% { transform: translateX(8px);}
    100% { transform: translateX(0);}
}
@keyframes slideInDown {
    0% {opacity: 0;transform: translateY(-30px);}
    100% {opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes slideInDown {
    0% {opacity: 0;transform: translateY(-30px);}
    100% {opacity: 1;transform: translateY(0);}
}




/* First Section - index */
.MainSection{
    color: rgb(225, 225, 225);
    padding: 20vh 8vw 20vh 8vw;
    min-height: 40vh;
}
.MainSection img{border-radius: 1rem;}
.MainSection h1{
    font-size: 5rem;
    text-shadow: 1px 1px 5px black;
}
.MainSection .MainSection-text{
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
    margin-top: -2rem;
}
.MainSection .MainSection-text::before{
    content: "";
    position: absolute;
    margin-top: -1rem;
    height: 0.3rem;
    width: 20rem;
    background: rgb(225, 225, 225);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.MainSection-wholeText{height: 10rem;}
.MainSection-wholeText:hover{
    animation: shakeX 2.5s infinite;
    -webkit-keyframes: shakeX 2.5s infinite;
}



/* showcase */
.imgbaccont-div{
    z-index: -100;
    background-color: #181818;
    margin-top: -3.5rem;
    height: 30rem;
}
.imgbaccont-div h1{
    color: rgb(225, 225, 225);
    position: absolute;
    text-align: center;
    width:100%;
    margin-top: -13rem;
    font-size: 4em;
    text-shadow: 1px 1px 5px #181818;
}
.imgbaccont{
    position: relative;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    opacity: 0.25;
}
.sec-showcase{padding: 2rem 8vw 2rem 8vw;}
.sec-showcase a{color: #2d844c;}
.p-showcase{text-align: center}
.sec-showcase article div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sillvertool_structure{max-height: 15rem;}
.img-showcase-galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-showcase-galery div{padding: 1rem 1rem 2rem 1rem;}
.img-showcase-galery img{
    width: 100%;
    max-width: 40rem;
    min-width: 10rem;
    border-radius: 1rem;
    transition: all 0.3s;
}
.img-showcase-galery img:hover{scale: 1.1}



/* Second Section*/
.art-light{
    background: rgb(225, 225, 225);
    color: rgb(24, 24, 24);
    padding: 3.5rem 8vw 2rem 8vw;
    clip-path: polygon(100% 100%, 0% 100%, 0% 2rem, 100% 0%);
}
.art-light::before{
    content: "";
    position: absolute;
    margin-left: -8vw;
    margin-top: -3.5rem;
    height: 3rem;
    width: 100%;
    background: #2d844c;
    clip-path: polygon(100% 1rem, 0% 100%, 0% 2rem, 100% 0%);
}
.inside-dark{
    text-align: center;
    background: #181818;
    color: rgb(225, 225, 225);
    padding: 2rem 8vw 3rem 8vw;
}
.inside-light{
    background: rgb(225, 225, 225);
    color: rgb(24, 24, 24);
    padding: 2rem 8vw 3rem 8vw;
}
.art-dark{
    text-align: center;
    background: #181818;
    color: rgb(225, 225, 225);
    padding: 2rem 8vw 3rem 8vw;
    clip-path: polygon(100% 93%, 0% 100%, 0% 0%, 100% 0%);
}



/* Showcase + thanks section*/
.line::before{
    content: "";
    position: absolute;
    margin-left: -8vw;
    margin-top: -3.5rem;
    height: 4.2rem;
    width: 100%;
    background: #2d844c;
    clip-path: polygon(100% 1rem, 0% 85%, 0% 2.5rem, 100% 0%);
}
.space-for-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.art-empty{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 8vw 2rem 8vw;
    color: rgb(225, 225, 225);
    text-align: center;
    z-index: -2;
}
.art-empty-padd3{padding-bottom: 3rem;}
.art-empty-padd4t{padding-top: 4rem;}
.art-empty h2{color:rgb(225, 225, 225);text-shadow: 1px 1px 1px black;}
.art-empty .container{
    display: flex;
    border-radius: 1rem;
    background: rgb(225, 225, 225);
    color: rgb(24, 24, 24);
    max-width: 35rem;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem; 
    box-shadow: 1px 1px 1px 1px rgb(65, 65, 65);
    transition: all 0.3s;
}
.art-empty .container:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px rgb(35, 35, 35);
}
.art-empty .cont-text{padding: 1rem;}
.art-empty .cont-text p{margin: 0 0 1rem 0;}
.art-empty .cont-text div{margin: 2rem 0 0 0;}
.art-empty h3{
    padding: 1rem;
    margin-top: 25%;
    transform:translateY(-25%);
}




/* section portfolio */
.github_art{color: rgb(225, 225, 225);}
.github_art::before{
    content: "";
    position: absolute;
    background: #2d844c;
    width: 100%;
    height: 1rem;
    margin-top: -3rem;
}
.github_art a:hover{
    color: rgb(24, 24, 24);
    background: rgb(225, 225, 225);
}
.galery{
    color: rgb(24, 24, 24);
    text-align: right;
}
.galery::after {
  content: "";
  position: absolute;
  background: #2d844c;
  width: 100%;
  height: 1rem;
  margin-top: 4rem;
  display: block;
  margin-left: -8vw;
}




/* pc/mobile */
@media(min-width:957px){ /* pc */
    .galery{
        padding: 2rem 20rem 5rem 8vw;
        background: url(image/photo-camera-3146818425.png), -webkit-linear-gradient(180deg, #ffffff 40%, rgb(225, 225, 225) 60%), linear-gradient(270deg, #ffffff 40%, rgb(225, 225, 225) 60%);
        background-size:contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    .galery::before{
        right: -20rem;
        left: 0;
    }
    .github_art{
        padding: 3rem 8vw 4rem 18rem;
        background: url(image/github_PNG40-1417037603.png), -webkit-linear-gradient(0deg, #1b1f23 40%, rgb(24, 24, 24) 60%), linear-gradient(90deg, #1b1f23 40%, rgb(24, 24, 24) 60%);
        background-size:contain;
        background-position: left;
        background-repeat: no-repeat;        
    }
    .github_art::before{margin-left: -18rem;}
    .MainSection{
        display: flex;
        justify-content: space-around;
    }
    .MainSection img{
        width: 25rem;
        height: 25rem;
        position: relative;
        display: block;
        rotate: 5deg;
    }
    .MainSection img:hover{
        animation: swing 1s infinite;
        -webkit-animation: swing 1s infinite;
    }
}

@media(min-width:600px){ /* pc */
    .art-empty .cont-divider{
        min-width: 0.2rem;
        background: rgb(24, 24, 24);
    }
}

@media(max-width:780px){ /* mobile */
    .line::before{
        margin-top: -4rem;
        height: 4.2rem;
        clip-path: polygon(100% 1rem, 0% 95%, 0% 3rem, 100% 0%);
    }
    .MainSection .MainSection-text::before{opacity: 0;}

    /* showcase */
    .imgbaccont{height: 100vh;}
    .imgbaccont-div{height: 100vh;}
    .imgbaccont-div h1{
        margin-top: -65vh;
        font-size: 3em;
    }
}

@media(max-width:958px){ /* mobile */
    .galery{
        padding: 2rem 8vw 5rem 8vw;
        background: -webkit-linear-gradient(180deg, #ffffff 40%, rgb(225, 225, 225) 60%), linear-gradient(270deg, #ffffff 40%, rgb(225, 225, 225) 60%);;
    }
    .github_art{
        padding: 3rem 8vw 4rem 8vw;
        background: -webkit-linear-gradient(0deg, #1b1f23 40%, rgb(24, 24, 24) 60%), linear-gradient(90deg, #1b1f23 40%, rgb(24, 24, 24) 60%);;
    }
    .github_art::before{margin-left: -8vw;}
    .MainSection-wholeText{text-align: center;}
    .MainSection img{
        margin-left: 50%;
        margin-top: 6rem;
        transform: translateX(-50%);
        max-width: 84vw;
    }
}

@media(max-width:601px){ /* mobile */
    .MainSection{margin-top: -2rem;}
    .MainSection img{margin-top: 10rem;}
    .MainSection h1{font-size: 4rem;}
    .art-empty-padd4t{margin-top: -3rem;}
    .art-empty .container{
        flex-direction: column;
        text-align: center;
    }
    .art-empty .cont-divider{
        height: 0.2rem;
        width: 50%;
        margin-left: 50%;
        margin-top: -0.5rem;
        transform: translateX(-50%);
        background: rgb(24, 24, 24);
    }
    .art-empty h3{
        margin-top: 1rem;
        transform:translateY(0%);
    }
    .art-empty .container .cont-text{margin-top: 1rem;}
    .art-dark{
        z-index: 5;
        position: relative;
        padding-bottom: 5rem;
    }
    .line::before{
        z-index: 0;
        margin-top: -6.5rem;
        height: 6.5rem;
        clip-path: polygon(100% 3rem, 0% 100%, 0% 0rem, 100% 0%);
    }
}
